<AuthorizeView>
    <Authorized>
        <AuthorizeView Roles="admin" Context="ctx">
            <a href="/manageRoleToUser">Manage Roles</a>
        </AuthorizeView>
        <a href="Identity/Account/Manage/ChangePassword">Hello, @context.User.Identity?.Name !</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
