@page "/callerModal"
@using BlazorBase.Pages.Modal
@inherits ModalComponentCaller

<h3>CallerModal</h3>

<AuthorizeView Roles="admin">

    <p>
        <div>
            <button class="btn btn-info" @onclick="@(() => ShowModal<ModalCalled>("test", "TEST"))">Call modal</button>
        </div>
    </p>

</AuthorizeView>