@page "/manageRoleToUser"

<h3>Manage Role/User</h3>


<div class="container">
    <div class="row">
        <div class="col-4">
            User
            @foreach (var user in ListUsers)
            {
                <button class="btn btn-info" @onclick="@(() => GetRole(user.Email))">@user.Email</button>
            }
        </div>
        <div class="col-4">
            Roles du user
            @foreach (var userRole in ListRolesOfUser)
            {
                <button class="btn btn-primary">Delete role : @userRole</button>
            }
        </div>
        <div class="col-4">
            Ajouter un Role à ce user
            @foreach (var role in ListRoles)
            {
                <div>@role.Name</div>
            }
        </div>
    </div>
</div>

